.container {width: 960px; height:100%; margin: auto;}
.content {height: 100%;}
hr {width: 100%;}
body {background-color: #F5F5F5; //#B5E7DD; background-position: 50% 50%; font-family: Verdana;
font-size: 11px;}
.formMargin {margin-top: 10px;}
