.container {width: 300px; height:100%; margin: auto; margin-top: 150px;}
.content {height: 100%;}
hr {width: 100%; margin-top: 10px;}
body {background-color: #F5F5F5; //#B5E7DD; background-position: 50% 50%; font-family: Verdana;
font-size: 11px;}
textarea {max-width: 100%; max-height: 100px; height: 100px; margin-top: 5px; margin-bottom: 5px;}
form {margin-top: 5px; margin-bottom: 5px;}
.tijdinput {width: 50px;}
